// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/li

li {
  display : inline;
  padding: 20px;
  background: #2274A5;
  color: #E7DFC6;
  margin: 10px;
  box-shadow: 8px 8px 12px #aaa;
}

